#favorito {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.destacado {
  color: #001F3F;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
}

body {
  background-color: #F0EAD6;
}

header {
  background-color: #5f939a;
  padding: 20px 10px;
}

nav {
  overflow: hidden;
  background-color: #d8ac9c;
  padding: 10px 5px;
}

.cuadro-navegacion {
  background-color: #e3d9c7;
  padding: 20px;
  margin-bottom: 20px;
}

.agrupar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto;
}

.mision-descripcion {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mision {
  background-color: #e3d9c7;
  padding: 15px;
  width: 45%;
  border-radius: 10px;
}

.descripcion {
  background-color: #e3d9c7;
  padding: 15px;
  width: 45%;
  border-radius: 10px;
}

.imagen-producto {
  display: flex;
  justify-content: center;
}

.informacion-desarroladores {
  background-color: #e3d9c7;
  padding: 15px;
  width: 45%;
  border-radius: 10px;
  margin-top: 15px;
}

footer {
  overflow: hidden;
  background-color: #eac8af;
  padding: 20px 10px;
  text-align: center;
}

footer li {
  list-style: none;
  font: bold 14px Verdana;
  padding: 10px;
  display: inline-block;
}

nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: underline;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

nav a:hover {
  background-color: #ddd;
  border: 1px solid gray;
  color: black;
}

nav a.active {
  background-color: dodgerblue;
  border: 1px solid gray;
  color: white;
}
